/* estilos.css */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Reset de Estilos */
* {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento */
}

body {
    font-family: 'Lato', sans-serif; /* Define a fonte padrão */
    background-color: #E6E6FA; /* Define a cor de fundo */
}

header {
    background-color: 	#CBC3E3; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 3rem; /* Define um espaçamento interno */
    font-size: x-large;
}

#nav ul li { 
    list-style: none;
    display: inline;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul li.active {
    background-color: #4b086c;
}

#nav ul li:hover {
    background-color: #4b086c;
}

nav ul {
    list-style: none; /* Remove a bolinha da lista */
}

nav li {
    display: inline; /* Faz com que os itens da lista fiquem na mesma linha */
    margin: 60px; /* Define um espaçamento entre os itens */
    border-radius: 5px;
}

nav a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Define a cor do texto */
    font-weight: bold; /* Define o peso da fonte */
}

main {
    padding: 15px; /* Define um espaçamento interno */
    overflow: hidden; /* Faz com que o elemento não ultrapasse o tamanho do pai */
}

.card {
    width: calc(33.33% - 20px); /* 33.33% - 40px */
    margin: 10px; /* Define um espaçamento externo */
    padding: 20px; /* Define um espaçamento interno */
    background-color: #b1b1d6; /* Define a cor de fundo */
    box-shadow: 0 2px 4px 	#301934; /* Adiciona uma sombra */
    text-align: center; /* Centraliza o texto */
    float: left; /* Faz com que os elementos fiquem na mesma linha */
}

.card img {
    max-width: 100%; /* Define a largura máxima da imagem */
    height: 300px; /* Define a altura da imagem */
}

.card button {
    background-color: #301934;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer; /* Muda o cursor do mouse */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

.card button:hover {
    background-color: #4b086c; /* Muda a cor de fundo ao passar o mouse */
}

footer {
    background-color: #29072f;
    color: #fff;
    text-align: center;
    padding: 1rem;
}